table {
    thead{
        tr{
            th{
                color: #ffffff !important;
            }
        }
    }
    tbody{
        tr{
            vertical-align: middle;
            th { vertical-align: middle;}
            td{
                vertical-align: middle;
                .btn{
                    padding: 10px;
                }
                a{
                    &:hover{
                        color: #000000;
                    }
                }
            }
        }
    }
}
.bgColor{
    background-color: #313131;
}

.loader-box {
    height: 70px;
}
.loader {
    margin: 0 auto;
}

.fa-warning {
    color: #9abe26 !important;
    font-size: 3em;
}

alert-heading{
    margin-bottom: 0;
}