<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row justify-content-between align-items-center">
                        <h3>EMPRESAS</h3>
                        <div>
                            <button class="btn btn-primary" [routerLink]="['/empresas/empresa/nuevo']" type="button" placement="top" >
                                <i class="fa fa-plus m-r-2"></i>
                                Agregar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ngb-pagination class="d-flex justify-content-end " (pageChange)="pageChange($event)"  [pageSize]="30" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="totalPages"  [boundaryLinks]="true"></ngb-pagination>
                    <div class="table-responsive m-t-10">
                        <table *ngIf="!cargando && empresas.length > 0" class="table">
                            <thead class="bg-primary">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Empresa</th>
                                    <th scope="col">Contacto</th>
                                    <th scope="col">Telefono</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Orden de Compra</th>
                                    <th scope="col">Documentos de Cierre</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let empresa of empresas | slice: { pageSize: 30, currentPage: page  }; let i=index;" >
                                    <th scope="row">{{((page - 1) * 30) + (i + 1)}}</th>
                                    <td><img class="img-40 rounded-circle m-r-10" [src]="empresa.logo" alt="Logo {{empresa.name}}"> {{empresa.name}}</td>
                                    <td>
                                        <ng-template #content2 let-modal>
                                            <div class="modal-header">
                                                <h4 class="modal-title">Contactos</h4>
                                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="table-responsive m-b-30">
                                                    <table class="table table-xs">
                                                        <thead class="bgColor">
                                                            <tr>
                                                                <th scope="col">ID</th>
                                                                <th scope="col">Nombre</th>
                                                                <th scope="col">Email</th>
                                                                <th scope="col">Empleo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngFor="let contacts of empresa.contact; let x=index; " class="borderBottom">
                                                            <tr >
                                                                <th scope="row">{{contacts.id}}</th>
                                                                <td> {{contacts.paymentPerson}} </td>
                                                                <td>{{contacts.email}}</td>
                                                                <td>{{contacts.job}}</td>
                                                                
                                                            </tr>
                                                            <tr>
                                                                <th colspan="4" class="bgColorS">Horario</th>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4">
                                                                    <span class="inlineBlockSpan">
                                                                        <span><b>Lunes</b> </span>
                                                                        <p>{{contacts.schedule.mondayStart | date:'shortTime' }} a {{contacts.schedule.mondayEnd | date:'shortTime' }}</p>
                                                                    </span>
                                                                    <span class="inlineBlockSpan">
                                                                        <span><b>Martes</b></span>
                                                                        <p>{{contacts.schedule.tuesdayStart | date:'shortTime' }} a {{contacts.schedule.tuesdayEnd | date:'shortTime' }}</p>
                                                                    </span>
                                                                    <span class="inlineBlockSpan">
                                                                        <span><b>Miercoles</b></span>
                                                                        <p>{{contacts.schedule.wednesdayStart | date:'shortTime' }} a {{contacts.schedule.wednesdayEnd | date:'shortTime' }}</p>
                                                                    </span>
                                                                    <span class="inlineBlockSpan">    
                                                                    <span ><b>Jueves</b></span>
                                                                        <p>{{contacts.schedule.thursdayStart | date:'shortTime' }} a {{contacts.schedule.thursdayEnd | date:'shortTime' }}</p>
                                                                    </span>
                                                                    <span class="inlineBlockSpan">
                                                                        <span><b>Viernes</b></span>
                                                                        <p>{{contacts.schedule.fridayStart | date:'shortTime' }} a {{contacts.schedule.fridayEnd | date:'shortTime' }}</p>
                                                                    </span>
                                                                    <span class="inlineBlockSpan">
                                                                        <span><b>Sabado</b></span>
                                                                        <p>{{contacts.schedule.saturdayStart | date:'shortTime' }} a {{contacts.schedule.saturdayEnd | date:'shortTime' }}</p>
                                                                    </span>
                                                                    <span class="inlineBlockSpan">
                                                                        <span><b>Domingo</b></span>
                                                                        <p>{{contacts.schedule.sundayStart | date:'shortTime' }} a {{contacts.schedule.sundayEnd | date:'shortTime' }}</p>
                                                                     </span>
                                                                </td>       
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            
                                        </ng-template>
                                        <a (click)="openVerticallyCentered(content2)" [routerLink]=""><i class="fa fa-users"></i> Contactos</a>
                                    </td>
                                    <td>{{empresa.phoneNumber}}</td>
                                    <td>{{empresa.email}}</td>
                                    <td>
                                        <ng-template #content1 let-modal>
                                            <div class="modal-header">
                                                <h4 class="modal-title">Orden de Compra</h4>
                                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="table-responsive m-b-30">
                                                    <table class="table table-xs">
                                                        <thead class="bgColor">
                                                            <tr>
                                                                <th scope="col">ID</th>
                                                                <th scope="col">Nombre</th>
                                                                <th scope="col">Archivo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let cd of empresa.buyOrder; let x=index">
                                                                <th scope="row">{{cd.id}}</th>
                                                                <td> {{cd.name}} </td>
                                                                <td><a href="{{cd.file}}"><i class="fa fa-file-o"></i> Documento</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            
                                        </ng-template>
                                        <a (click)="openVerticallyCentered(content1)" [routerLink]=""><i class="fa fa-files-o"></i> Orden de Compra</a>
                                    </td>
                                    <td>
                                        <ng-template #content let-modal>
                                            <div class="modal-header">
                                                <h4 class="modal-title">Documentos de Cierre</h4>
                                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="table-responsive m-b-30">
                                                    <table class="table table-xs">
                                                        <thead class="bgColor">
                                                            <tr>
                                                                <th scope="col">ID</th>
                                                                <th scope="col">Nombre</th>
                                                                <th scope="col">Archivo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let cd of empresa.closingDocument; let x=index">
                                                                <th scope="row">{{cd.id}}</th>
                                                                <td> {{cd.name}} </td>
                                                                <td><a href="{{cd.file}}"><i class="fa fa-file-o"></i> Documento</a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            
                                        </ng-template>
                                        <a (click)="openVerticallyCentered(content)" [routerLink]=""><i class="fa fa-files-o"></i> Documentos de cierre</a>
                                    </td>
                                    <td>
                                        <button class="btn btn-info m-r-5 m-b-5" ngbTooltip="Editar" [routerLink]="['/empresas/empresa/',empresa.id]"><!-- [routerLink]="[ '/empresas/empresa/',empresa.id] " -->
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger  m-b-5" ngbTooltip="Borrar" (click)="borrarEmpresa(empresa, i)"> 
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div *ngIf="!cargando && empresas.length === 0" class="alert alert-light text-center m-t-3 ">
                            <h4 class="alert-heading ">No hay registros</h4>
                            <p><i class="fa fa-warning"></i></p>
                            <p class="m-b-0 ">
                                Por el momento no contamos con registros
                            </p>
                            <!--<app-feather-icons [icon]="['alert-circle']" class="svgColor" style="width: 50px; height: 50px;"></app-feather-icons>-->
                        </div>
                        <div *ngIf="cargando" class="alert alert-light text-center m-t-3 ">
                            <h4 class="alert-heading ">Cargando</h4>
                            <div class="loader-box text-center">
                                <div class="loader ">
                                    <div class="line bg-primary"></div>
                                    <div class="line bg-primary"></div>
                                    <div class="line bg-primary"></div>
                                    <div class="line bg-primary"></div>
                                </div>
                            </div>
                            <p class="m-b-0 ">
                                Espere por favor
                            </p>
                        </div>
                    </div>
                    <ngb-pagination class="d-flex justify-content-end  m-t-10" (pageChange)="pageChange($event)"  [pageSize]="30" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="totalPages"  [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>