<div class="form-group" [formGroupName]="groupName">
    <div class="form-row ">

        <div class="form-group col-md-4 mb-3">
            <label class="control-label" for="street">Calle</label>
            <input type="text" formControlName="street" name="street" class="form-control" placeholder="Sevilla">

<!--             <div *ngIf="f.address.get('street').invalid && (f.address.get('street').dirty || f.address.get('street').touched)" class="alert">
                <div *ngIf="f.address.get('street').errors.required">
                    El campo es obligatoria.
                </div>
            </div>
 -->
        </div>
        <div class="form-group col-md-4 mb-3">
            <label class="control-label" for="number">Numero</label>
            <input type="text" formControlName="number" name="number" class="form-control" placeholder="650">
<!--             <div *ngIf="f.address.get('number').invalid && (f.address.get('number').dirty || f.address.get('number').touched)" class="alert">
                <div *ngIf="f.address.get('number').errors.required">
                    El campo es obligatoria.
                </div>
            </div> -->
        </div>
        <div class="form-group col-md-4 mb-3">
            <label class="control-label" for="suburb">Colonia</label>
            <input type="text" formControlName="suburb" name="suburb" class="form-control" placeholder="Centro">
<!--             <div *ngIf="f.address.get('suburb').invalid && (f.address.get('suburb').dirty || f.address.get('suburb').touched)" class="alert">
                <div *ngIf="f.address.get('suburb').errors.required">
                    El campo es obligatoria.
                </div>
            </div> -->
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4 mb-3">
            <label class="control-label" for="cp">Codigo Postal</label>
            <input type="text" formControlName="cp" name="cp" class="form-control" placeholder="64500">
<!--             <div *ngIf="f.address.get('cp').invalid && (f.address.get('cp').dirty || f.address.get('cp').touched)"
            class="alert">
                <div *ngIf="f.address.get('cp').errors.required">
                    El campo es obligatoria.
                </div>
                <div *ngIf="f.address.get('cp').errors?.pattern">
                    Telefono tiene que ser 5 digitos numericos.
                </div>
            </div> -->
        </div>
        <div class="form-group col-md-4 mb-3">
            <label class="control-label" for="municipality">Municipio</label>
            <input type="text" formControlName="municipality" name="municipality" class="form-control" placeholder="Monterrey">
<!--             <div *ngIf="f.address.get('municipality').invalid && (f.address.get('municipality').dirty || f.address.get('municipality').touched)" class="alert">
                <div *ngIf="f.address.get('municipality').errors.required">
                    El campo es obligatoria.
                </div>
            </div> -->
        </div>
        
    </div>

</div>   