.divceter{
  align-items: center;
}
.inlineClock{
display: inline-block;
width: 130px;
margin-bottom:10px;
}
.inlineLabel{
display: inline-block;
margin-right: 10px;
margin-left: 10px;
}

.card-header{
  h3{
    font-weight: 600;
    margin-bottom: 0;
  }
}