<div class="card">
    <div class="card-header"><h5>Encuestador</h5></div>
    <div class="card-body">
        <form [formGroup]="pollsterForm" (ngSubmit)="addPollster()" class="ngx-form m-t-5" novalidate> 
            <div class="form-row">
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="name">Nombre</label>
                    <input type="text" formControlName="name" name="name" class="form-control" placeholder="Maria">
                    <div *ngIf="pollsterForm.controls['name'].invalid && (pollsterForm.controls['name'].dirty || pollsterForm.controls['name'].touched)"
                        class="alert">
                        <div *ngIf="pollsterForm.controls['name'].errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="middle">Segundo Nombre</label>
                    <input type="text" formControlName="middle" name="middle" class="form-control" placeholder="Concepcion">
                </div>
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="lastname">Apellido</label>
                    <input type="text" formControlName="lastname" name="lastname" class="form-control" placeholder="Sanchez">
                    <div *ngIf="pollsterForm.controls['lastname'].invalid && (pollsterForm.controls['lastname'].dirty || pollsterForm.controls['lastname'].touched)"
                        class="alert">
                        <div *ngIf="pollsterForm.controls['lastname'].errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="birthPlace">Lugar de Nacimiento</label>
                    <input type="text" formControlName="birthPlace" name="birthPlace" class="form-control" placeholder="Monterrey, N.L.">
                    <div *ngIf="pollsterForm.controls['birthPlace'].invalid && (pollsterForm.controls['birthPlace'].dirty || pollsterForm.controls['birthPlace'].touched)"
                        class="alert">
                        <div *ngIf="pollsterForm.controls['birthPlace'].errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="birthDate">Fecha de Nacimiento</label>
                    <input type="text" formControlName="birthDate" placeholder="15-20-1885" onfocus="(this.type='date')" onblur="(this.type='text')" name="birthDate" class="form-control" >
                    <div *ngIf="pollsterForm.controls['birthDate'].invalid && (pollsterForm.controls['birthDate'].dirty || pollsterForm.controls['birthDate'].touched)"
                        class="alert">
                        <div *ngIf="pollsterForm.controls['birthDate'].errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="ifeFolio">IFE Folio Reverso</label>
                    <input type="text" formControlName="ifeFolio" name="ifeFolio" class="form-control" placeholder="WEER1323151486">
                    <div *ngIf="pollsterForm.controls['ifeFolio'].invalid && (pollsterForm.controls['ifeFolio'].dirty || pollsterForm.controls['ifeFolio'].touched)"
                        class="alert">
                        <div *ngIf="pollsterForm.controls['ifeFolio'].errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-t-25" formGroupName="address">
                <h6 class="m-b-0"><b>Direccion</b></h6><hr>
                <div class="form-row ">
        
                    <div class="form-group col-md-4 mb-3">
                        <label class="control-label" for="street">Calle</label>
                        <input type="text" formControlName="street" name="street" class="form-control" placeholder="Gral Carlos Salazar Pte">
        
                        <div *ngIf="pollsterForm.controls['address'].get('street').invalid && (pollsterForm.controls['address'].get('street').dirty || pollsterForm.controls['address'].get('street').touched)" class="alert">
                            <div *ngIf="pollsterForm.controls['address'].get('street').errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
        
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label class="control-label" for="number">Numero</label>
                        <input type="text" formControlName="number" name="number" class="form-control" placeholder="580">
                        <div *ngIf="pollsterForm.controls['address'].get('number').invalid && (pollsterForm.controls['address'].get('number').dirty || pollsterForm.controls['address'].get('number').touched)" class="alert">
                            <div *ngIf="pollsterForm.controls['address'].get('number').errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label class="control-label" for="suburb">Colonia</label>
                        <input type="text" formControlName="suburb" name="suburb" class="form-control" placeholder="Centro">
                        <div *ngIf="pollsterForm.controls['address'].get('suburb').invalid && (pollsterForm.controls['address'].get('suburb').dirty || pollsterForm.controls['address'].get('suburb').touched)" class="alert">
                            <div *ngIf="pollsterForm.controls['address'].get('suburb').errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 ">
                        <label class="control-label" for="cp">Codigo Postal</label>
                        <input type="text" formControlName="cp" name="cp" class="form-control" placeholder="64000">
                        <div *ngIf="pollsterForm.controls['address'].get('cp').invalid && (pollsterForm.controls['address'].get('cp').dirty || pollsterForm.controls['address'].get('cp').touched)"
                        class="alert">
                            <div *ngIf="pollsterForm.controls['address'].get('cp').errors.required">
                                El campo es obligatorio.
                            </div>
                            <div *ngIf="pollsterForm.controls['address'].get('cp').errors?.pattern">
                                El campo tiene que ser 5 digitos numericos.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="municipality">Municipio</label>
                        <input type="text" formControlName="municipality" name="municipality" class="form-control" placeholder="Monterrey">
                        <div *ngIf="pollsterForm.controls['address'].get('municipality').invalid && (pollsterForm.controls['address'].get('municipality').dirty || pollsterForm.controls['address'].get('municipality').touched)" class="alert">
                            <div *ngIf="pollsterForm.controls['address'].get('municipality').errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div> 
            <div class="form-row">
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="phone">Telefono</label>
                    <input type="text" formControlName="phone" name="phone" class="form-control" placeholder="8478447894">
                    <div *ngIf="pollsterForm.controls['phone'].invalid && (pollsterForm.controls['phone'].dirty || pollsterForm.controls['phone'].touched)"
                        class="alert">
                        <div *ngIf="pollsterForm.controls['phone'].errors.required">
                            El campo es obligatorio.
                        </div>
                        <div *ngIf="pollsterForm.controls['phone'].errors?.pattern">
                            Telefono tiene que ser 10 digitos numericos.
                        </div>
                    </div>
                </div>
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="cellPhone">Celular</label>
                    <input type="text" formControlName="cellPhone" name="cellPhone" class="form-control" placeholder="8878447894">
                    <div *ngIf="pollsterForm.controls['cellPhone'].invalid && (pollsterForm.controls['cellPhone'].dirty || pollsterForm.controls['cellPhone'].touched)"
                        class="alert">
                        <div *ngIf="pollsterForm.controls['cellPhone'].errors.required">
                            El campo es obligatorio.
                        </div>
                        <div *ngIf="pollsterForm.controls['cellPhone'].errors?.pattern">
                            Telefono tiene que ser 10 digitos numericos.
                        </div>
                    </div>
                </div>
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="errandsPhone">Telefono de Recados</label>
                    <input type="text" formControlName="errandsPhone" name="errandsPhone" class="form-control" placeholder="8888447894">
                    <div *ngIf="pollsterForm.controls['errandsPhone'].invalid && (pollsterForm.controls['errandsPhone'].dirty || pollsterForm.controls['errandsPhone'].touched)"
                        class="alert">
                        <div *ngIf="pollsterForm.controls['errandsPhone'].errors.required">
                            El campo es obligatorio.
                        </div>
                        <div *ngIf="pollsterForm.controls['errandsPhone'].errors?.pattern">
                            Telefono tiene que ser 10 digitos numericos.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-4 mb-3">
                    <label class="control-label" for="email">Correo</label>
                    <input type="email" formControlName="email" name="email" class="form-control" placeholder="mariaSanches@outlook.com">
                    <div *ngIf="pollsterForm.controls['email'].invalid && (pollsterForm.controls['email'].dirty || pollsterForm.controls['email'].touched)"
                        class="alert">
                        <div *ngIf="pollsterForm.controls['email'].errors.required">
                            El campo es obligatorio.
                        </div>
                        <div *ngIf="pollsterForm.controls['email'].errors?.pattern">
                            Correo no valido.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label class="control-label" for="preference">Preferencia de Contacto</label>
                    <select class="form-control" id="preference" formControlName="preference">
                        <option value="null" disabled>Selecciona Preferencia</option>
                        <option value="cellPhone">Celular</option>
                        <option value="phone">Telefono</option>
                        <option value="errandsPhone">Telefono de Recados</option>
                        <option value="email">Correo</option>
                    </select>
                    <div *ngIf="pollsterForm.controls['preference'].invalid && (pollsterForm.controls['preference'].dirty || pollsterForm.controls['preference'].touched)"
                        class="alert">
                        <div *ngIf="pollsterForm.controls['preference'].errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label class="control-label" for="rol">Tipo</label>
                    <select class="form-control" id="rol" formControlName="rol">
                        <option [value]="null" disabled>Selecciona el Tipo</option>
                        <option *ngFor="let p of roles" [ngValue]="p">{{ p }}</option>
                    </select>
                    <div *ngIf="pollsterForm.controls['rol'].invalid && (pollsterForm.controls['rol'].dirty || pollsterForm.controls['rol'].touched)"
                        class="alert">
                        <div *ngIf="pollsterForm.controls['rol'].errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row m-t-25">
                <div class="row rowC  col-sm-12">
                    <h6 class="col-sm-12 m-b-0"><b>Horario Disponible para Visitas</b></h6>
                    <hr class="col-sm-12 m-r-15 m-l-15">
                </div>
               
                <div class="form-group row rowC  col-sm-12" formGroupName="schedule">
                    <div class="form-group col-sm-6 col-md-4 mb-3">
                        <label class="control-label" for="">Lunes</label>
                        <div class="row divceter">
                                <div class="input-group clockpicker" >
                                    <input type="text" class="form-control" name="mondayStart" formControlName="mondayStart"  data-lng-clockpicker placeholder="12:30">
                                    <span class="input-group-addon">
                                        <span class="glyphicon icofont icofont-clock-time" ></span>
                                    </span>
                                </div>
                            <label class="m-r-10 m-l-10 mb-0"> A </label>
                            <div class="input-group clockpicker" >
                                <input type="text" class="form-control" name="mondayEnd"  formControlName="mondayEnd"  >
                                <span class="input-group-addon">
                                    <span class="glyphicon icofont icofont-clock-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6  col-md-4 mb-3">
                        <label class="control-label" for="">Martes</label>
                        <div class="row divceter">
                                <div class="input-group clockpicker" >
                                    <input type="text" class="form-control" name="tuesdayStart" formControlName="tuesdayStart"  >
                                    <span class="input-group-addon">
                                        <span class="glyphicon icofont icofont-clock-time" ></span>
                                    </span>
                                </div>
                            <label class="m-r-10 m-l-10 mb-0"> A </label>
                            <div class="input-group clockpicker" >
                                <input type="text" class="form-control" name="tuesdayEnd"  formControlName="tuesdayEnd"  >
                                <span class="input-group-addon">
                                    <span class="glyphicon icofont icofont-clock-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6  col-md-4 mb-3">
                        <label class="control-label" for="">Miercoles</label>
                        <div class="row divceter">
                                <div class="input-group clockpicker" >
                                    <input type="text" class="form-control" name="wednesdayStart" formControlName="wednesdayStart"  >
                                    <span class="input-group-addon">
                                        <span class="glyphicon icofont icofont-clock-time" ></span>
                                    </span>
                                </div>
                            <label class="m-r-10 m-l-10 mb-0"> A </label>
                            <div class="input-group clockpicker" >
                                <input type="text" class="form-control" name="wednesdayEnd"  formControlName="wednesdayEnd"  >
                                <span class="input-group-addon">
                                    <span class="glyphicon icofont icofont-clock-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 mb-3">
                        <label class="control-label" for="">Jueves</label>
                        <div class="row divceter">
                                <div class="input-group clockpicker" >
                                    <input type="text" class="form-control" name="thursdayStart" formControlName="thursdayStart"  >
                                    <span class="input-group-addon">
                                        <span class="glyphicon icofont icofont-clock-time" ></span>
                                    </span>
                                </div>
                            <label class="m-r-10 m-l-10 mb-0"> A </label>
                            <div class="input-group clockpicker" >
                                <input type="text" class="form-control" name="thursdayEnd"  formControlName="thursdayEnd"  >
                                <span class="input-group-addon">
                                    <span class="glyphicon icofont icofont-clock-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 mb-3">
                        <label class="control-label" for="">Vienes</label>
                        <div class="row divceter">
                                <div class="input-group clockpicker" >
                                    <input type="text" class="form-control" name="fridayStart" formControlName="fridayStart"  >
                                    <span class="input-group-addon">
                                        <span class="glyphicon icofont icofont-clock-time" ></span>
                                    </span>
                                </div>
                            <label class="m-r-10 m-l-10 mb-0"> A </label>
                            <div class="input-group clockpicker" >
                                <input type="text" class="form-control" name="fridayEnd"  formControlName="fridayEnd"  >
                                <span class="input-group-addon">
                                    <span class="glyphicon icofont icofont-clock-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 mb-3">
                        <label class="control-label" for="">Sabado</label>
                        <div class="row divceter">
                                <div class="input-group clockpicker " >
                                    <input type="text" class="form-control m-b-3" name="saturdayStart" formControlName="saturdayStart"  >
                                    <span class="input-group-addon">
                                        <span class="glyphicon icofont icofont-clock-time" ></span>
                                    </span>
                                </div>
                            <label class="m-r-10 m-l-10 mb-0"> A </label>
                            <div class="input-group clockpicker" >
                                <input type="text" class="form-control" name="saturdayEnd"  formControlName="saturdayEnd"  >
                                <span class="input-group-addon">
                                    <span class="glyphicon icofont icofont-clock-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 mb-3">
                        <label class="control-label" for="">Domingo</label>
                        <div class="row divceter">
                                <div class="input-group clockpicker " >
                                    <input type="text" class="form-control m-b-3" name="sundayStart" formControlName="sundayStart"  >
                                    <span class="input-group-addon">
                                        <span class="glyphicon icofont icofont-clock-time" ></span>
                                    </span>
                                </div>
                            <label class="m-r-10 m-l-10 mb-0"> A </label>
                            <div class="input-group clockpicker" >
                                <input type="text" class="form-control" name="sundayEnd"  formControlName="sundayEnd"  >
                                <span class="input-group-addon">
                                    <span class="glyphicon icofont icofont-clock-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-t-10">
                <h6 class="m-b-0"><b>Datos Bancarios</b> </h6><hr>
                <div class="form-row ">
        
                    <div class="form-group col-md-3 mb-3">
                        <label class="control-label" for="bank">Banco</label>
                        <input type="text" formControlName="bank" name="bank" class="form-control" placeholder="Banamex">
        
                        <div *ngIf="pollsterForm.controls['bank'].invalid && (pollsterForm.controls['bank'].dirty || pollsterForm.controls['bank'].touched)" class="alert">
                            <div *ngIf="pollsterForm.controls['bank'].errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        <label class="control-label" for="nameOwner">Nombre del Titular</label>
                        <input type="text" formControlName="nameOwner" name="nameOwner" class="form-control" placeholder="Juan Jose Rivera Nieto">
                        <div *ngIf="pollsterForm.controls['nameOwner'].invalid && (pollsterForm.controls['nameOwner'].dirty || pollsterForm.controls['nameOwner'].touched)" class="alert">
                            <div *ngIf="pollsterForm.controls['nameOwner'].errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        <label class="control-label" for="cardNumber">Numero de Tarjeta o Cuenta</label>
                        <input type="text" formControlName="cardNumber" name="cardNumber" class="form-control" placeholder="444588854452">
                        <div *ngIf="pollsterForm.controls['cardNumber'].invalid && (pollsterForm.controls['cardNumber'].dirty || pollsterForm.controls['cardNumber'].touched)" class="alert">
                            <div *ngIf="pollsterForm.controls['cardNumber'].errors.required">
                                El campo es obligatorio.
                            </div>
                            <div *ngIf="pollsterForm.controls['cardNumber'].errors?.pattern">
                                El campo tiene que ser entre 10 y 19 digitos numericos.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        <label class="control-label" for="viatics">Viatico</label>
                        <input type="text" formControlName="viatics" name="viatics" class="form-control" placeholder="120.00">
                        <div *ngIf="pollsterForm.controls['viatics'].invalid && (pollsterForm.controls['viatics'].dirty || pollsterForm.controls['viatics'].touched)" class="alert">
                            <div *ngIf="pollsterForm.controls['viatics'].errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="form-row mb-5" >
                <label class="col-sm-12 control-label">Subir fotografia del usuario</label>
                <div class="col-sm-12 "> <!--formControlName="logo"-->
                    <input style="display: none" type="file" (change)="readFile($event)"  name="photography" #fileInput>
                    <button class="form-control col-sm-4"  (click)="fileInput.click()"><i class="fa fa-cloud-upload"></i> Selecciona Archivo</button>
                    <label class="col-sm-4 fileName">{{fileName }}</label>
                <!-- <label class="control-label col-sm-12 m-t-15" *ngIf="flagDataInfo===true && logoName!==''">
                        Archivo: {{ logoName}}
                    </label>-->
                    <div *ngIf="pollsterForm.controls['photography'].invalid && (pollsterForm.controls['photography'].dirty || pollsterForm.controls['photography'].touched)"
                    class="alert">
                        <div *ngIf="pollsterForm.controls['photography'].errors.required">
                            Subir la fotografia es obligatorio.
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="form-group f1-buttons">
                <button class="btn btn-primary btn-next" type="submit" [disabled]="!pollsterForm.valid" >Registrar Encuestador</button>
            </div>
        </form>
       <!--  <hr>
        <pre>
            estado del formulario : {{pollsterForm.valid}}
            <br>
            status : {{pollsterForm.status}}
        </pre>
        <pre>
            {{pollsterForm.value | json}}
        </pre> -->
    </div>
</div>