<div class="card">
    <div class="card-header"><h3><span *ngIf="!flagData">AGREGAR </span><span *ngIf="flagData">EDITAR </span>ENCUESTADOR</h3></div>
    <div class="card-body">
        <form [formGroup]="Fform" (ngSubmit)="addPollster()" class="ngx-form m-t-5" novalidate> 
            <div class="form-row">
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="name">Nombre</label>
                    <input type="text" formControlName="name" name="name" class="form-control" placeholder="Maria">
                    <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
                        class="alert">
                        <div *ngIf="f.name.errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="middle">Segundo Nombre</label>
                    <input type="text" formControlName="middle" name="middle" class="form-control" placeholder="Concepcion">
                </div>
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="lastname">Apellido</label>
                    <input type="text" formControlName="lastname" name="lastname" class="form-control" placeholder="Sanchez">
                    <div *ngIf="f.lastname.invalid && (f.lastname.dirty || f.lastname.touched)"
                        class="alert">
                        <div *ngIf="f.lastname.errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="birthPlace">Lugar de Nacimiento</label>
                    <input type="text" formControlName="birthPlace" name="birthPlace" class="form-control" placeholder="Monterrey, N.L.">
                    <div *ngIf="f.birthPlace.invalid && (f.birthPlace.dirty || f.birthPlace.touched)"
                        class="alert">
                        <div *ngIf="f.birthPlace.errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="birthDate">Fecha de Nacimiento</label>
                    <input type="text" formControlName="birthDate" placeholder="15-20-1885" onfocus="(this.type='date')" onblur="(this.type='text')" name="birthDate" class="form-control" >
                    <div *ngIf="f.birthDate.invalid && (f.birthDate.dirty || f.birthDate.touched)"
                        class="alert">
                        <div *ngIf="f.birthDate.errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="ifeFolio">IFE Folio Reverso</label>
                    <input type="text" formControlName="ifeFolio" name="ifeFolio" class="form-control" placeholder="WEER1323151486">
                    <div *ngIf="f.ifeFolio.invalid && (f.ifeFolio.dirty || f.ifeFolio.touched)"
                        class="alert">
                        <div *ngIf="f.ifeFolio.errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-t-25" formGroupName="address">
                <h6 class="m-b-0"><b>Direccion</b></h6><hr>
                <div class="form-row ">
        
                    <div class="form-group col-md-4 mb-3">
                        <label class="control-label" for="street">Calle</label>
                        <input type="text" formControlName="street" name="street" class="form-control" placeholder="Gral Carlos Salazar Pte">
        
                        <div *ngIf="f.address.get('street').invalid && (f.address.get('street').dirty || f.address.get('street').touched)" class="alert">
                            <div *ngIf="f.address.get('street').errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
        
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label class="control-label" for="number">Numero</label>
                        <input type="text" formControlName="number" name="number" class="form-control" placeholder="580">
                        <div *ngIf="f.address.get('number').invalid && (f.address.get('number').dirty || f.address.get('number').touched)" class="alert">
                            <div *ngIf="f.address.get('number').errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label class="control-label" for="suburb">Colonia</label>
                        <input type="text" formControlName="suburb" name="suburb" class="form-control" placeholder="Centro">
                        <div *ngIf="f.address.get('suburb').invalid && (f.address.get('suburb').dirty || f.address.get('suburb').touched)" class="alert">
                            <div *ngIf="f.address.get('suburb').errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 ">
                        <label class="control-label" for="cp">Codigo Postal</label>
                        <input type="text" formControlName="cp" name="cp" class="form-control" placeholder="64000">
                        <div *ngIf="f.address.get('cp').invalid && (f.address.get('cp').dirty || f.address.get('cp').touched)"
                        class="alert">
                            <div *ngIf="f.address.get('cp').errors.required">
                                El campo es obligatorio.
                            </div>
                            <div *ngIf="f.address.get('cp').errors?.pattern">
                                El campo tiene que ser 5 digitos numericos.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="municipality">Municipio</label>
                        <input type="text" formControlName="municipality" name="municipality" class="form-control" placeholder="Monterrey">
                        <div *ngIf="f.address.get('municipality').invalid && (f.address.get('municipality').dirty || f.address.get('municipality').touched)" class="alert">
                            <div *ngIf="f.address.get('municipality').errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div> 
            <div class="form-row  m-t-25">
                <div class=" col-12">
                    <h6 class="m-b-0"><b>Medio de Contacto</b></h6>
                    <hr>
                </div>

                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="phone">Telefono</label>
                    <input type="text" formControlName="phone" name="phone" class="form-control" placeholder="8478447894">
                    <div *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)"
                        class="alert">
                        <div *ngIf="f.phone.errors.required">
                            El campo es obligatorio.
                        </div>
                        <div *ngIf="f.phone.errors?.pattern">
                            Telefono tiene que ser 10 digitos numericos.
                        </div>
                    </div>
                </div>
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="cellPhone">Celular</label>
                    <input type="text" formControlName="cellPhone" name="cellPhone" class="form-control" placeholder="8878447894">
                    <div *ngIf="f.cellPhone.invalid && (f.cellPhone.dirty || f.cellPhone.touched)"
                        class="alert">
                        <div *ngIf="f.cellPhone.errors.required">
                            El campo es obligatorio.
                        </div>
                        <div *ngIf="f.cellPhone.errors?.pattern">
                            Telefono tiene que ser 10 digitos numericos.
                        </div>
                    </div>
                </div>
                <div class=" form-group col-md-4 mb-3">
                    <label class="control-label" for="errandsPhone">Telefono de Recados</label>
                    <input type="text" formControlName="errandsPhone" name="errandsPhone" class="form-control" placeholder="8888447894">
                    <div *ngIf="f.errandsPhone.invalid && (f.errandsPhone.dirty || f.errandsPhone.touched)"
                        class="alert">
                        <div *ngIf="f.errandsPhone.errors.required">
                            El campo es obligatorio.
                        </div>
                        <div *ngIf="f.errandsPhone.errors?.pattern">
                            Telefono tiene que ser 10 digitos numericos.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-4 mb-3">
                    <label class="control-label" for="email">Correo</label>
                    <input type="email" formControlName="email" name="email" class="form-control" placeholder="mariaSanches@outlook.com">
                    <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                        class="alert">
                        <div *ngIf="f.email.errors.required">
                            El campo es obligatorio.
                        </div>
                        <div *ngIf="f.email.errors?.pattern">
                            Correo no valido.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label class="control-label" for="preference">Preferencia de Contacto</label>
                    <select class="form-control" id="preference" formControlName="preference">
                        <option value="null" disabled>Selecciona Preferencia</option>
                        <option value="cellPhone">Celular</option>
                        <option value="phone">Telefono</option>
                        <option value="errandsPhone">Telefono de Recados</option>
                        <option value="email">Correo</option>
                    </select>
                    <div *ngIf="f.preference.invalid && (f.preference.dirty || f.preference.touched)"
                        class="alert">
                        <div *ngIf="f.preference.errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label class="control-label" for="rol">Tipo</label>
                    <select class="form-control" id="rol" formControlName="rol">
                        <option [value]="null" disabled>Selecciona el Tipo</option>
                        <option *ngFor="let p of roles" [ngValue]="p">{{ p }}</option>
                    </select>
                    <div *ngIf="f.rol.invalid && (f.rol.dirty || f.rol.touched)"
                        class="alert">
                        <div *ngIf="f.rol.errors.required">
                            El campo es obligatorio.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row m-t-25">
                <div class=" col-12">
                    <h6 class="m-b-0"><b>Horario Disponible para Visitas</b></h6>
                    <hr>
                </div>
               
                <div class="form-row  col-12" formGroupName="schedule">
                    <div class="form-group col-sm-6 col-md-4 mb-3">
                        <label class="control-label" >Lunes</label>
                        <div class="divceter">
                            <input type="time" class="form-control inlineClock " name="mondayStart" formControlName="mondayStart"   placeholder="12:30">
                            <label class="inlineLabel"> A </label>
                            <input type="time" class="form-control inlineClock" name="mondayEnd"  formControlName="mondayEnd"  >
                        </div>
                    </div>
                    <div class="form-group col-sm-6  col-md-4 mb-3">
                        <label class="control-label" >Martes</label>
                        <div class="divceter">
                            <input type="time" class="form-control inlineClock" name="tuesdayStart" formControlName="tuesdayStart"  >    
                            <label class="inlineLabel"> A </label>
                            <input type="time" class="form-control inlineClock" name="tuesdayEnd"  formControlName="tuesdayEnd"  >
                        </div>
                    </div>
                    <div class="form-group col-sm-6  col-md-4 mb-3">
                        <label class="control-label" for="">Miercoles</label>
                        <div class="divceter">
                            <input type="time" class="form-control inlineClock" name="wednesdayStart" formControlName="wednesdayStart"  >
                            <label class="inlineLabel"> A </label>
                            <input type="time" class="form-control inlineClock" name="wednesdayEnd"  formControlName="wednesdayEnd"  >
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 mb-3">
                        <label class="control-label" for="">Jueves</label>
                        <div class="divceter">
                            <input type="time" class="form-control inlineClock" name="thursdayStart" formControlName="thursdayStart"  >
                            <label class="inlineLabel"> A </label>
                            <input type="time" class="form-control inlineClock" name="thursdayEnd"  formControlName="thursdayEnd"  >
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 mb-3">
                        <label class="control-label" for="">Vienes</label>
                        <div class="divceter">
                            <input type="time" class="form-control inlineClock" name="fridayStart" formControlName="fridayStart"  >
                            <label class="inlineLabel"> A </label>
                            <input type="time" class="form-control inlineClock" name="fridayEnd"  formControlName="fridayEnd"  >
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 mb-3">
                        <label class="control-label" for="">Sabado</label>
                        <div class="divceter">
                            <input type="time" class="form-control inlineClock" name="saturdayStart" formControlName="saturdayStart"  >
                            <label class="inlineLabel"> A </label>
                            <input type="time" class="form-control inlineClock" name="saturdayEnd"  formControlName="saturdayEnd"  >
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4 mb-3">
                        <label class="control-label" for="">Domingo</label>
                        <div class="divceter">
                            <input type="time" class="form-control inlineClock" name="sundayStart" formControlName="sundayStart"  >
                            <label class="inlineLabel"> A </label>
                            <input type="time" class="form-control inlineClock" name="sundayEnd"  formControlName="sundayEnd"  >
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="form-group m-t-10">
                <h6 class="m-b-0"><b>Datos Bancarios</b> </h6><hr>
                <div class="form-row ">
        
                    <div class="form-group col-md-3 mb-3">
                        <label class="control-label" for="bank">Banco</label>
                        <input type="text" formControlName="bank" name="bank" class="form-control" placeholder="Banamex">
        
                        <div *ngIf="f.bank.invalid && (f.bank.dirty || f.bank.touched)" class="alert">
                            <div *ngIf="f.bank.errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        <label class="control-label" for="nameOwner">Nombre del Titular</label>
                        <input type="text" formControlName="nameOwner" name="nameOwner" class="form-control" placeholder="Juan Jose Rivera Nieto">
                        <div *ngIf="f.nameOwner.invalid && (f.nameOwner.dirty || f.nameOwner.touched)" class="alert">
                            <div *ngIf="f.nameOwner.errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        <label class="control-label" for="cardNumber">Numero Tarjeta/Cuenta</label>
                        <input type="text" formControlName="cardNumber" name="cardNumber" class="form-control" placeholder="444588854452">
                        <div *ngIf="f.cardNumber.invalid && (f.cardNumber.dirty || f.cardNumber.touched)" class="alert">
                            <div *ngIf="f.cardNumber.errors.required">
                                El campo es obligatorio.
                            </div>
                            <div *ngIf="f.cardNumber.errors?.pattern">
                                El campo tiene que ser entre 10 y 19 digitos numericos.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        <label class="control-label" for="viatics">Viatico</label>
                        <input type="text" formControlName="viatics" name="viatics" class="form-control" placeholder="120.00">
                        <div *ngIf="f.viatics.invalid && (f.viatics.dirty || f.viatics.touched)" class="alert">
                            <div *ngIf="f.viatics.errors.required">
                                El campo es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
           <!--  <app-img-upload-s></app-img-upload-s> -->

            
            <div class="form-group f1-buttons">
                <button class="btn btn-primary btn-next" type="submit" [disabled]="!Fform.valid" >Registrar Encuestador</button>
            </div>
        </form>
       <!--  <hr>
        <pre>
            estado del formulario : {{Fform.valid}}
            <br>
            status : {{Fform.status}}
        </pre>
        <pre>
            {{Fform.value | json}}
        </pre> -->
    </div>
</div>