<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3><span *ngIf="!flagDataOuputInfo">AGREGAR </span><span *ngIf="flagDataOuputInfo">EDITAR </span>EMPRESA</h3>
        </div>
        <div class="card-body step-indicator">
          <aw-wizard navBarLayout="large-filled-symbols">
            

            <aw-wizard-step [canExit]="canExitStep2"  [navigationSymbol]="{ symbol: '&#xf0e8;', fontFamily: 'FontAwesome'}"
              stepTitle="Informacion">
              <app-info-business (data)="infoBusiness($event)"  (setRFCParent)="setRFCParentInfo($event)" (businessDataOutput)="businessDataOutput($event)" (flagData)="flagDataOuput($event)"></app-info-business>
            </aw-wizard-step>

            <aw-wizard-step [navigationSymbol]="{symbol: '&#xf0c0;', fontFamily: 'FontAwesome'}" stepTitle="Contactos">
              <app-contact-business (data)="infoContact($event)" [businessData]="businessDataOutputInfo" [flagDataInfo]="flagDataOuputInfo"></app-contact-business>
            </aw-wizard-step>

            <aw-wizard-step [navigationSymbol]="{symbol: '&#xf09d;', fontFamily: 'FontAwesome'}"
              stepTitle="Servicios">
              <app-payment-business (data)="infoService($event)" [businessData]="businessDataOutputInfo" [flagDataInfo]="flagDataOuputInfo" [serviceListInfo]="serviceListOInfo"></app-payment-business>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Documentacion" [navigationSymbol]="{symbol: '&#xf0ea;', fontFamily: 'FontAwesome'}">
              <app-document-business [businessData]="businessDataOutputInfo" [flagDataInfo]="flagDataOuputInfo"></app-document-business>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="Division" [navigationSymbol]="{symbol: '&#xf03b;', fontFamily: 'FontAwesome'}">
              <app-division-business (data)="infoDivision($event)" [businessData]="businessDataOutputInfo" [flagDataInfo]="flagDataOuputInfo"></app-division-business>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div>