<form [formGroup]="contactForm" class="ngx-form" novalidate>
  
<div class="form-row">
    <div class="col-md-4 mb-3">
        <label class="control-label">Nombre</label>
        <input type="text"  class="form-control" >
    </div>
    <div class="col-md-4 mb-3">
        <label class="control-label" >Empleo</label>
        <input type="text"  class="form-control" >
        
    </div>
    <div class="col-md-4 mb-3">
        <label class="control-label" >Telefono</label>
        <input type="text"  class="form-control" >
        
    </div>
</div>
<div class="form-row">
  <div class="col-md-4 mb-3">
      <label class="control-label" >correo</label>
      <input type="text" class="form-control" >
  </div>
  <div class="col-md-4 mb-3">
      <label class="control-label">Persona encargada de pago</label>
      <input type="text"  class="form-control" >
  </div>
 
</div>
<h4 class="mt-5">Horario de contacto</h4>
<hr>
<div class="form-row">
  <div class="col-md-4 mb-3">
      <label class="control-label" for="lastname">Lunes</label>
      <div class="row">
        <div class="form-group">
          <ngb-timepicker [formControl]="ctrl" class="time-picker-custom" required></ngb-timepicker>
          <div *ngIf="ctrl.valid" class="small form-text text-primary">Great choice</div>
          <div class="small form-text text-danger" *ngIf="!ctrl.valid">
            <div *ngIf="ctrl.errors['required']">Select some time during lunchtime</div>
            <div *ngIf="ctrl.errors['tooLate']">Oh no, it's way too late</div>
            <div *ngIf="ctrl.errors['tooEarly']">It's a bit too early</div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" for="lastname">Martes</label>
    <div class="row-display"> 
      
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" for="lastname">Miercoles</label>
    <div class="row-display">
      
    </div>  
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" for="lastname">Jueves</label>
    <div class="form-row">
      <div class="row-display">
        
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" for="lastname">Viernes</label>
    <div class="row-display">
      
    </div>  
  </div>
 
</div>
  <div class="f1-buttons">
    <button class="btn btn-primary btn-previous" type="button" awPreviousStep>Previous</button>
    <button class="btn btn-primary btn-next" type="button" [disabled]="!contactForm.valid" awNextStep>Next</button>
  </div>
</form>
