<form [formGroup]="contactForm" class="ngx-form mt-5" novalidate >
  
<div class="form-row">
    <div class="col-md-4 mb-3">
        <label class="control-label" for="paymentPerson">Nombre</label>
        <input type="text" formControlName="paymentPerson"  class="form-control" formControlName="paymentPerson"  placeholder="Nombre">
        <div *ngIf="contactForm.controls['paymentPerson'].invalid && (contactForm.controls['paymentPerson'].dirty || contactForm.controls['paymentPerson'].touched)"
                class="alert">
            <div *ngIf="contactForm.controls['paymentPerson'].errors.required">
                Nombre es obligatorio.
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <label class="control-label" for="job">Empleo</label>
        <input type="text"  class="form-control" formControlName="job"  placeholder="Empleo">
        <div *ngIf="contactForm.controls['job'].invalid && (contactForm.controls['job'].dirty || contactForm.controls['job'].touched)"
                class="alert">
            <div *ngIf="contactForm.controls['job'].errors.required">
                Empleo es obligatorio.
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <label class="control-label" for="phoneNumber" >Telefono</label>
        <input type="text"  class="form-control" formControlName="phoneNumber"  placeholder="telefono">
        <div *ngIf="contactForm.controls['phoneNumber'].invalid && (contactForm.controls['phoneNumber'].dirty || contactForm.controls['phoneNumber'].touched)"
            class="alert">
            <div *ngIf="contactForm.controls['phoneNumber'].errors.required">
                Telefono es obligatorio.
            </div>
            <div *ngIf="contactForm.controls['phoneNumber'].errors?.pattern">
                Telefono tiene que ser 10 digitos numericos.
            </div>
        </div>
    </div>
</div>
<div class="form-row">
  <div class="col-md-4 mb-3">
      <label class="control-label" for="email">correo</label>
      <input type="text" class="form-control" formControlName="email"  placeholder="Correo">
      <div *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)"
                class="alert">
            <div *ngIf="contactForm.controls['email'].errors.required">
                Correo es obligatorio.
            </div>
        </div>
  </div>
  <div class="col-md-4 mb-3">
    <label class="control-label" for="fax">Fax</label>
    <input type="text" class="form-control" formControlName="fax"  placeholder="Fax">
    <div *ngIf="contactForm.controls['fax'].invalid && (contactForm.controls['fax'].dirty || contactForm.controls['fax'].touched)"
    class="alert">
        <div *ngIf="contactForm.controls['fax'].errors.required">
            Fax es obligatorio.
        </div>
        
    </div>
</div>
</div>
<h5 class="mt-5 mb-5">Horario de contacto</h5>
<div class="form-group" formGroupName="schedule">
  <div class="	col-md-4 mb-3">
      <label class="control-label" for="lastname">Lunes</label>
      <div class="row divceter">
          <ngb-timepicker formControlName="mondayStart" class="time-picker-custom" ></ngb-timepicker>
          <label class="m-15"> A </label>
           <ngb-timepicker formControlName="mondayEnd" class="time-picker-custom" ></ngb-timepicker>
      </div>
      
  </div>
 
</div>

  <div class="form-group f1-buttons">
    <button class="btn btn-primary btn-previous" type="button" awPreviousStep>Anterior</button>
    <button class="btn btn-primary btn-next" type="button" [disabled]="!contactForm.valid" awNextStep>Siguiente</button>
  </div>
</form>

<pre>
    estado del formulario : {{contactForm.valid}}
    <br>
    status : {{contactForm.status}}
</pre>
<pre>
    {{contactForm.value | json}}
</pre>