.paddingBtn{
    padding: 10px;
}
table {
    thead{
        tr{
            th{
                color: #ffffff !important;
            }
        }
    }
    tbody{
        tr{
            vertical-align: middle;
            th { vertical-align: middle;}
            td{
                vertical-align: middle;
            }
        }
    }
}
.card-header{
    h3{
        font-weight: 600;
        margin-bottom: 0;
    }
}