<label class="control-label">Subir foto del Propietario</label>
<div> <!--formControlName="fileImg"-->
    <input style="display: none"  type="file" (change)="onSelectFile($event)"  name="photography" #fileInput>
    <button #fInput  class="form-control  disInliBlock"  (click)="fileInput.click(); fileInputLogoTouched();"><i class="fa fa-cloud-upload"></i> Selecciona Archivo</button>
    <label >{{fileName}}</label>
    <div *ngIf="!isFileUploaded && f.file.get('photography').invalid && (f.file.get('photography').dirty || f.file.get('photography').touched)"
    class="alert">
        <div *ngIf="f.file.get('photography').errors.required">
            Subir la fotografia es obligatorio.
        </div>
    </div>
</div>
<div class="m-t-15" *ngIf="urlImg && urlImg !== ''">
    <img [src]="urlImg" class="img-100"/>
</div>