<form [formGroup]="Fform" (ngSubmit)="addEmpresa()"  class="ngx-form mt-5" novalidate> 
    <div class="form-row"><!-- save(Fform) f.schedule.get('mondayStart')-->
        <div class=" form-group col-md-4 mb-3">
            <label class="control-label" for="name">Nombre</label>
            <input type="text" formControlName="name" name="name" class="form-control" placeholder="Asistemps del Sur">
            <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
                class="alert">
                <div *ngIf="f.name.errors.required">
                    El campo es obligatoria.
                </div>
            </div>
        </div>
        <div class="form-group col-md-4 mb-3">
            <label class="control-label" for="email">Correo</label>
            <input type="email" formControlName="email" name="email" class="form-control" placeholder="asistemps@gmail.com">
            <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                class="alert">
                <div *ngIf="f.email.errors.required">
                    El campo es obligatoria.
                </div>
                <div *ngIf="f.email.errors?.pattern">
                    Correo no valido.
                </div>
            </div>
        </div>
        <div class="form-group col-md-4 mb-3">
            <label class="control-label" for="phoneNumber">Telefono</label>
            <input type="text" formControlName="phoneNumber" name="phoneNumber" class="form-control" placeholder="8845617894">
            <div *ngIf="f.phoneNumber.invalid && (f.phoneNumber.dirty || f.phoneNumber.touched)"
                class="alert">
                <div *ngIf="f.phoneNumber.errors.required">
                    El campo es obligatoria.
                </div>
                <div *ngIf="f.phoneNumber.errors?.pattern">
                    Telefono tiene que ser 10 digitos numericos.
                </div>
            </div>
        </div>
        
    </div>
    <app-address-info groupName="address"></app-address-info> 
    <div class=" group-row">
        <div class="col-md-12 mb-5">
            <div class=" m-t-15 m-checkbox-inline mb-0 ml-1 animate-chk">
                <div class="checkbox checkbox-primary">
                    <input id="requestServiceByMail" type="checkbox" formControlName="requestServiceByMail" name="requestServiceByMail">
                    <label class="control-label" for="requestServiceByMail">Se solicito servicio por correo</label>
                    
                </div>
                <div class="checkbox checkbox-primary">
                    <input id="selfFormat" type="checkbox" formControlName="selfFormat" name="selfFormat">
                    <label class="control-label" for="selfFormat">Tiene formato propio</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row m-b-15">
        <label class="col-sm-12 control-label">Subir logo de la empresa</label>
        <div class="col-sm-12 "> <!--formControlName="fileImg"-->
            <input style="display: none"  type="file" (change)="onSelectFile($event)"  name="logo" #fileInput>
            <button #fInput  class="form-control  disInliBlock"  (click)="fileInput.click(); fileInputLogoTouched();"><i class="fa fa-cloud-upload"></i> Selecciona Archivo</button>
            <label >{{fileName}}</label>
            <div *ngIf="!isFileUploaded && f.logo.invalid && (f.logo.dirty || f.logo.touched)"
            class="alert">
                <div *ngIf="f.logo.errors.required">
                    Subir el logo es obligatorio.
                </div>
            </div>
        </div>
        <div class="m-t-15" *ngIf="urlImg && urlImg !== ''">
            <img [src]="urlImg" class="img-100"/>
        </div>
    </div>
    <div class="form-group f1-buttons">
        <button class="btn btn-primary btn-next" [disabled]="!Fform.valid" awNextStep> siguiente
        </button>
    </div>
</form>
<hr>
<pre>
    estado del formulario : {{Fform.valid}}
    <br>
    status : {{Fform.status}}
</pre>
<pre>
    {{Fform.value | json}}
</pre>