<form [formGroup]="Fform" (ngSubmit)="addEmpresa()" class="ngx-form mt-5" novalidate>
    <div class="form-group" formGroupName="servicesPriceChecker">
      <h6 class="m-b-0"><b>Precios</b></h6><hr>
      <div class="form-row ">
        <div class="col-md-4 mb-3">
            <label class="control-label" for="foreign">Foreaneo</label>
            <input type="text" formControlName="foreign" class="form-control" placeholder="50.00">

            <div *ngIf="f.servicesPriceChecker.get('foreign').invalid && (f.servicesPriceChecker.get('foreign').dirty || f.servicesPriceChecker.get('foreign').touched)" class="alert">
              <div *ngIf="f.servicesPriceChecker.get('foreign').errors.required">
                El campo es obligatorio.
              </div>
              <div *ngIf="f.servicesPriceChecker.get('foreign').errors?.pattern">
                El campo debe ser monetario.
              </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
          <label class="control-label" for="local">Local</label>
          <input type="text" formControlName="local" class="form-control" placeholder="30.00">

          <div *ngIf="f.servicesPriceChecker.get('local').invalid && (f.servicesPriceChecker.get('local').dirty || f.servicesPriceChecker.get('local').touched)" class="alert">
              <div *ngIf="f.servicesPriceChecker.get('local').errors.required">
                El campo es obligatorio.
              </div>
              <div *ngIf="f.servicesPriceChecker.get('local').errors?.pattern">
                El campo debe ser monetario.
              </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label class="control-label" for="viaticForeign">Viatico Foraneo</label>
          <input type="text" formControlName="viaticForeign" class="form-control" placeholder="1000.00">

          <div *ngIf="f.servicesPriceChecker.get('viaticForeign').invalid && (f.servicesPriceChecker.get('viaticForeign').dirty || f.servicesPriceChecker.get('viaticForeign').touched)" class="alert">
              <div *ngIf="f.servicesPriceChecker.get('viaticForeign').errors.required">
                El campo es obligatorio.
              </div>
              <div *ngIf="f.servicesPriceChecker.get('viaticForeign').errors?.pattern">
                El campo debe ser monetario.
              </div>
          </div>
        </div>
       
      </div>
      <div class="form-row ">
        <div class="col-md-4 mb-3">
          <label class="control-label" for="viaticLocal">Viatico Local</label>
          <input type="text" formControlName="viaticLocal" class="form-control" placeholder="58.52">

          <div *ngIf="f.servicesPriceChecker.get('viaticLocal').invalid && (f.servicesPriceChecker.get('viaticLocal').dirty || f.servicesPriceChecker.get('viaticLocal').touched)" class="alert">
              <div *ngIf="f.servicesPriceChecker.get('viaticLocal').errors.required">
                El campo es obligatorio.
              </div>
              <div *ngIf="f.servicesPriceChecker.get('viaticLocal').errors?.pattern">
                El campo debe ser monetario.
              </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label class="control-label" for="visitNotRealized">Visita No Realizada</label>
          <input type="text" formControlName="visitNotRealized" class="form-control" placeholder="60.80">

          <div *ngIf="f.servicesPriceChecker.get('visitNotRealized').invalid && (f.servicesPriceChecker.get('visitNotRealized').dirty || f.servicesPriceChecker.get('visitNotRealized').touched)" class="alert">
              <div *ngIf="f.servicesPriceChecker.get('visitNotRealized').errors.required">
                El campo es obligatorio.
              </div>
              <div *ngIf="f.servicesPriceChecker.get('visitNotRealized').errors?.pattern">
                El campo debe ser monetario.
              </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label class="control-label" for="visitRealized">Visita Realizada</label>
          <input type="text" formControlName="visitRealized" class="form-control" placeholder="50.20">
          <div *ngIf="f.servicesPriceChecker.get('visitRealized').invalid && (f.servicesPriceChecker.get('visitRealized').dirty || f.servicesPriceChecker.get('visitRealized').touched)" class="alert">
              <div *ngIf="f.servicesPriceChecker.get('visitRealized').errors.required">
                El campo es obligatorio.
              </div>
              <div *ngIf="f.servicesPriceChecker.get('visitRealized').errors?.pattern">
                El campo debe ser monetario.
              </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="form-group" formArrayName="services">
      <h6 class="m-b-0"><b>Servicios</b></h6><hr>
      <div  *ngFor="let service of serviceFormGroup; let i = index;">
        <div [formGroupName]="i">  
          <h5>Servicio {{i + 1}}</h5>
          <div class="form-row">
            <div class="col-md-6 mb-3">
                <label class="control-label" for="servicesPriceStart">Precio Inicial</label>
                <input type="text" formControlName="servicesPriceStart" class="form-control" placeholder="50.00">

                <div *ngIf="getServicesFormGroup(i).get('servicesPriceStart').invalid && (getServicesFormGroup(i).get('servicesPriceStart').dirty || getServicesFormGroup(i).get('servicesPriceStart').touched)" class="alert">
                  <div *ngIf="getServicesFormGroup(i).get('servicesPriceStart').errors.required">
                    El campo es obligatorio.
                  </div>
                  <div *ngIf="getServicesFormGroup(i).get('servicesPriceStart').errors?.pattern">
                    El campo debe ser monetario.
                  </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="control-label" for="servicesPriceEnd">Precio Final</label>
              <input type="text" formControlName="servicesPriceEnd" class="form-control" placeholder="50.00">

              <div *ngIf="getServicesFormGroup(i).get('servicesPriceEnd').invalid && (getServicesFormGroup(i).get('servicesPriceEnd').dirty || getServicesFormGroup(i).get('servicesPriceEnd').touched)" class="alert">
                <div *ngIf="getServicesFormGroup(i).get('servicesPriceEnd').errors.required">
                  El campo es obligatorio.
                </div>
                <div *ngIf="getServicesFormGroup(i).get('servicesPriceEnd').errors?.pattern">
                  El campo debe ser monetario.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label class="control-label" for="servicesPriceDisscount">Descuento</label>
              <input type="text" formControlName="servicesPriceDisscount" class="form-control" placeholder="50.00">

              <div *ngIf="getServicesFormGroup(i).get('servicesPriceDisscount').invalid && (getServicesFormGroup(i).get('servicesPriceDisscount').dirty || getServicesFormGroup(i).get('servicesPriceDisscount').touched)" class="alert">
                <div *ngIf="getServicesFormGroup(i).get('servicesPriceDisscount').errors.required">
                  El campo es obligatorio.
                </div>
                <div *ngIf="getServicesFormGroup(i).get('servicesPriceDisscount').errors?.pattern">
                  El campo debe ser monetario.
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="control-label" for="serviceId">Servicio</label>
              <select class="form-control"  #serviceID  formControlName="serviceId">
                <option *ngFor="let service of serviceListInfo" [value]="service.id">{{ service.name }}</option>
              </select>
              <div *ngIf="getServicesFormGroup(i).get('serviceId').invalid && (getServicesFormGroup(i).get('serviceId').dirty || getServicesFormGroup(i).get('serviceId').touched)" class="alert">
                  <div *ngIf="getServicesFormGroup(i).get('serviceId').errors.required">
                      El campo es obligatorio.
                  </div>
              </div>
            </div>
          </div>
          <div class="form-group col-12 text-right">
            <button *ngIf="i>0" class="btn btn-danger" type="button" (click)="removeServices(i)">Eliminar Servicio {{i + 1}} </button>
          </div>
          <hr class="m-b-30">
        </div>
      </div>  
    </div>
    <div class="f1-buttons">
      <button class="btn btn-primary m-1" [disabled]="!Fform.valid" type="button" (click)="addServices()">Agregar Servicio </button>
      <button class="btn btn-primary btn-previous" type="button" awPreviousStep>Anterior</button>
      <button class="btn btn-primary btn-next" type="submit" [disabled]="!Fform.valid" awNextStep> siguiente</button>
    </div>
  </form>
  <hr>
<pre>
    estado del formulario : {{Fform.valid}}
    <br>
    status : {{Fform.status}}
</pre>
<pre>
    {{Fform.value | json}}
</pre>