<form [formGroup]="payForm" (ngSubmit)="addEmpresa()" class="ngx-form" novalidate>
    <div class="form-group" formGroupName="servicesPriceChecker">
      <h5>Precios</h5>
      <div class="form-row ">
        <div class="col-md-3 mb-3">
            <label class="control-label" for="foreign">Foreaneo</label>
            <input type="text" formControlName="foreign" class="form-control" placeholder="50.00">

            <div *ngIf="f.servicesPriceChecker.get('foreign').invalid && (f.servicesPriceChecker.get('foreign').dirty || f.servicesPriceChecker.get('foreign').touched)" class="alert">
              <div *ngIf="f.servicesPriceChecker.get('foreign').errors.required">
                El campo es obligatorio.
              </div>
              <div *ngIf="f.servicesPriceChecker.get('foreign').errors?.pattern">
                El campo debe ser monetario.
              </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
          <label class="control-label" for="local">Local</label>
          <input type="text" formControlName="local" class="form-control" placeholder="30.00">

          <div *ngIf="f.servicesPriceChecker.get('local').invalid && (f.servicesPriceChecker.get('local').dirty || f.servicesPriceChecker.get('local').touched)" class="alert">
              <div *ngIf="f.servicesPriceChecker.get('local').errors.required">
                El campo es obligatorio.
              </div>
              <div *ngIf="f.servicesPriceChecker.get('local').errors?.pattern">
                El campo debe ser monetario.
              </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label class="control-label" for="viaticForeign">Viatico Foraneo</label>
          <input type="text" formControlName="viaticForeign" class="form-control" placeholder="1000.00">

          <div *ngIf="f.servicesPriceChecker.get('viaticForeign').invalid && (f.servicesPriceChecker.get('viaticForeign').dirty || f.servicesPriceChecker.get('viaticForeign').touched)" class="alert">
              <div *ngIf="f.servicesPriceChecker.get('viaticForeign').errors.required">
                El campo es obligatorio.
              </div>
              <div *ngIf="f.servicesPriceChecker.get('viaticForeign').errors?.pattern">
                El campo debe ser monetario.
              </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label class="control-label" for="viaticLocal">Viatico Local</label>
          <input type="text" formControlName="viaticLocal" class="form-control" placeholder="58.52">

          <div *ngIf="f.servicesPriceChecker.get('viaticLocal').invalid && (f.servicesPriceChecker.get('viaticLocal').dirty || f.servicesPriceChecker.get('viaticLocal').touched)" class="alert">
              <div *ngIf="f.servicesPriceChecker.get('viaticLocal').errors.required">
                El campo es obligatorio.
              </div>
              <div *ngIf="f.servicesPriceChecker.get('viaticLocal').errors?.pattern">
                El campo debe ser monetario.
              </div>
          </div>
      </div>
      </div>
      <div class="form-row ">
        
        <div class="col-md-3 mb-3">
          <label class="control-label" for="visitNotRealized">Visita No Realizada</label>
          <input type="text" formControlName="visitNotRealized" class="form-control" placeholder="60.80">

          <div *ngIf="f.servicesPriceChecker.get('visitNotRealized').invalid && (f.servicesPriceChecker.get('visitNotRealized').dirty || f.servicesPriceChecker.get('visitNotRealized').touched)" class="alert">
              <div *ngIf="f.servicesPriceChecker.get('visitNotRealized').errors.required">
                El campo es obligatorio.
              </div>
              <div *ngIf="f.servicesPriceChecker.get('visitNotRealized').errors?.pattern">
                El campo debe ser monetario.
              </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label class="control-label" for="visitRealized">Visita Realizada</label>
          <input type="text" formControlName="visitRealized" class="form-control" placeholder="50.20">
          <div *ngIf="f.servicesPriceChecker.get('visitRealized').invalid && (f.servicesPriceChecker.get('visitRealized').dirty || f.servicesPriceChecker.get('visitRealized').touched)" class="alert">
              <div *ngIf="f.servicesPriceChecker.get('visitRealized').errors.required">
                El campo es obligatorio.
              </div>
              <div *ngIf="f.servicesPriceChecker.get('visitRealized').errors?.pattern">
                El campo debe ser monetario.
              </div>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class=" group-row">
      <div class="col-md-12 mb-5">
          <div class=" m-t-15 m-checkbox-inline mb-0 ml-1 animate-chk">
              <div class="checkbox checkbox-primary">
                  <input id="serviceWarranty" type="checkbox" formControlName="serviceWarranty">
                  <label class="control-label" for="serviceWarranty">Tiene garantia</label>
              </div>
          </div>
      </div>
    </div>
    <div class="form-group row mb-5" >
      <div class="row">
        <label class="col-sm-3 col-form-label">Subir documento de cierre de la empresa</label>
        <div class="col-sm-9">
            <input type="file" class="form-control" formControlName="closingDocument" name="closingDocument" (change)="readFile($event)" multiple="">
            <div *ngIf="f.closingDocument.invalid && (f.closingDocument.dirty || f.closingDocument.touched)"
            class="alert">
                <div *ngIf="f.closingDocument.errors.required">
                    Subir los documentos de cierre es obligatorio.
                </div>
            </div>
            
        </div>
      </div>
      <table *ngIf="flagDataInfo===true" class="table table-xs">
        <thead class="bgColor">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Archivo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cd of businessData.closingDocument; let x=index">
                <th scope="row">{{cd.id}}</th>
                <td> {{cd.name}} </td>
                <td>{{cd.file}}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="f1-buttons">
      <button class="btn btn-primary btn-previous" type="button" awPreviousStep>Anterior</button>
      <button class="btn btn-primary btn-submit" type="submit" [disabled]="!payForm.valid"
        (click)="success()">Guardar
      </button>
    </div>
  </form>
  <hr>
<pre>
    estado del formulario : {{payForm.valid}}
    <br>
    status : {{payForm.status}}
</pre>
<pre>
    {{payForm.value | json}}
</pre>