<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Agregar Empresa</h5>
        </div>
        <div class="card-body step-indicator">
          <aw-wizard navBarLayout="large-filled-symbols">
            <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf0e8;', fontFamily: 'FontAwesome ' }"
              stepTitle="Informacion de Empresa">
              <app-contact-business></app-contact-business>
            </aw-wizard-step>
            <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf0f0;', fontFamily: 'FontAwesome' }" stepTitle="Contactos de Empresa">
              <app-info-business></app-info-business>
            </aw-wizard-step>
            <aw-wizard-step [navigationSymbol]="{ symbol: '&#xf09d;', fontFamily: 'FontAwesome' }"
              stepTitle="Administracion Monetaria">
              <app-payment-business></app-payment-business>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div>