<form [formGroup]="payForm" (ngSubmit)="onSubmit()" class="ngx-form" novalidate>
    <div class="form-group" formGroupName="servicesPrice">
      <h5>Precios</h5>
      <div class="form-row ">
        <div class="col-md-3 mb-3">
            <label class="control-label" for="foreign">Foreaneo</label>
            <input type="text" formControlName="foreign" class="form-control" placeholder="Calle">

            <div *ngIf="payForm.controls['servicesPrice'].get('foreign').invalid && (payForm.controls['servicesPrice'].get('foreign').dirty || payForm.controls['servicesPrice'].get('foreign').touched)" class="alert">
                <div *ngIf="payForm.controls['servicesPrice'].get('foreign').errors.required">
                  El campo es obligatoria.
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
          <label class="control-label" for="local">Local</label>
          <input type="text" formControlName="local" class="form-control" placeholder="Calle">

          <div *ngIf="payForm.controls['servicesPrice'].get('local').invalid && (payForm.controls['servicesPrice'].get('local').dirty || payForm.controls['servicesPrice'].get('local').touched)" class="alert">
              <div *ngIf="payForm.controls['servicesPrice'].get('local').errors.required">
                 Campo obligatori.
              </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label class="control-label" for="viaticForeign">Viatico Foraneo</label>
          <input type="text" formControlName="viaticForeign" class="form-control" placeholder="Calle">

          <div *ngIf="payForm.controls['servicesPrice'].get('viaticForeign').invalid && (payForm.controls['servicesPrice'].get('viaticForeign').dirty || payForm.controls['servicesPrice'].get('viaticForeign').touched)" class="alert">
              <div *ngIf="payForm.controls['servicesPrice'].get('viaticForeign').errors.required">
                 Campo obligatori.
              </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label class="control-label" for="viaticLocal">Viatico Local</label>
          <input type="text" formControlName="viaticLocal" class="form-control" placeholder="Calle">

          <div *ngIf="payForm.controls['servicesPrice'].get('viaticLocal').invalid && (payForm.controls['servicesPrice'].get('viaticLocal').dirty || payForm.controls['servicesPrice'].get('viaticLocal').touched)" class="alert">
              <div *ngIf="payForm.controls['servicesPrice'].get('viaticLocal').errors.required">
                El campo es obligatoria.
              </div>
          </div>
      </div>
      </div>
      <div class="form-row ">
        
        <div class="col-md-3 mb-3">
          <label class="control-label" for="visitNotRealized">Visita No Realizada</label>
          <input type="text" formControlName="visitNotRealized" class="form-control" placeholder="Calle">

          <div *ngIf="payForm.controls['servicesPrice'].get('visitNotRealized').invalid && (payForm.controls['servicesPrice'].get('visitNotRealized').dirty || payForm.controls['servicesPrice'].get('visitNotRealized').touched)" class="alert">
              <div *ngIf="payForm.controls['servicesPrice'].get('visitNotRealized').errors.required">
                 Campo obligatorio.
              </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label class="control-label" for="visitRealized">Visita Realizada</label>
          <input type="text" formControlName="visitRealized" class="form-control" placeholder="Calle">
          <div *ngIf="payForm.controls['servicesPrice'].get('visitRealized').invalid && (payForm.controls['servicesPrice'].get('visitRealized').dirty || payForm.controls['servicesPrice'].get('visitRealized').touched)" class="alert">
              <div *ngIf="payForm.controls['servicesPrice'].get('visitRealized').errors.required">
                 Campo obligatorio.
              </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label class="control-label" for="endingPrice">Precio Final</label>
          <input type="text" formControlName="endingPrice" class="form-control" placeholder="Calle">
          <div *ngIf="payForm.controls['servicesPrice'].get('endingPrice').invalid && (payForm.controls['servicesPrice'].get('endingPrice').dirty || payForm.controls['servicesPrice'].get('endingPrice').touched)" class="alert">
              <div *ngIf="payForm.controls['servicesPrice'].get('endingPrice').errors.required">
                 Campo obligatorio.
              </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label class="control-label" for="disscount">Descuento</label>
          <input type="text" formControlName="disscount" class="form-control" placeholder="Calle">
          <div *ngIf="payForm.controls['servicesPrice'].get('disscount').invalid && (payForm.controls['servicesPrice'].get('disscount').dirty || payForm.controls['servicesPrice'].get('disscount').touched)" class="alert">
              <div *ngIf="payForm.controls['servicesPrice'].get('disscount').errors.required">
                 Campo obligatorio.
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row mb-5" >
      <label class="col-sm-3 col-form-label">Subir documento de cierre de la empresa</label>
      <div class="col-sm-9">
          <input type="file" class="form-control" formControlName="closingDocument">
          <div *ngIf="payForm.controls['closingDocument'].invalid && (payForm.controls['closingDocument'].dirty || payForm.controls['closingDocument'].touched)"
          class="alert">
              <div *ngIf="payForm.controls['closingDocument'].errors.required">
                  Subir los documentos de cierre es obligatorio.
              </div>
          </div>
      </div>
    </div>
    <div class=" group-row">
      <div class="col-md-12 mb-5">
          <div class=" m-t-15 m-checkbox-inline mb-0 ml-1 animate-chk">
              <div class="checkbox checkbox-primary">
                  <input id="serviceWarranty" type="checkbox" formControlName="serviceWarranty">
                  <label class="control-label" for="serviceWarranty">Tiene garantia</label>
              </div>
          </div>
      </div>
  </div>
    <div class="f1-buttons">
      <button class="btn btn-primary btn-previous" type="button" awPreviousStep>Anterior</button>
      <button class="btn btn-primary btn-submit" type="submit" [disabled]="!payForm.valid"
        (click)="success()">Guardar
      </button>
    </div>
  </form>
  <hr>
<pre>
    estado del formulario : {{payForm.valid}}
    <br>
    status : {{payForm.status}}
</pre>
<pre>
    {{payForm.value | json}}
</pre>